*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
        background: url(images/backg.jpg) no-repeat center center fixed;
        background-size: cover;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px 10%;
    font-family: 'Concert One', cursive;
    font-size: 25px;
}

.logo{
    cursor: pointer;
    margin-right: auto;
    margin-left: -70px;
}

.navbar{
    list-style: none;
}

.navbar li{
    display: inline-block;
    padding: 0px 20px;
}

.navbar li a {
    text-decoration: none;
    color: #321a1a;
}

.navbar li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: rgb(33 33 31);
    display: block;
    margin: auto;
    transition: .5s;
}
.navbar li a:hover::after{
    width: 100%;

}

.container{
    background: #b2b3a3;
    height: 75vh;
    width: 75%;
	position: absolute;
	font-family:"Comic Sans MS", cursive, sans-serif;
    top: 50%;
    left: 50%;
	transform: translate(-50%,-40%);
}
.container h1
{
    font-family:"sans-serif";
    font-size: 50px;
}
.img{
    height: 100%;
    width: 30%;
    background: url("bg3.JPG")no-repeat;
    background-size: cover;
    background-position: center;
}
.text{
    width: 60%;
    padding: 10px 10px;
    position: absolute;
    top: 47%;
    left: 65%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 28px;
    font-family: 'Josefin Sans', sans-serif;
}
.text p{
    color: #221e1d;
}